<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="Env" value="STA"/>
  <variable name="Proj" value="AbpProjectName"/>
  
  <targets>

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${level}_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}${exception:format=toString}" />
    <!--<target name="mail" xsi:type="Mail"
         layout="${newline}${longdate}${newline}${logger}${newline}${message}${newline}${exception:format=toString}${newline}================================================="
         html="true"
         smtpServer="smtp.exmail.qq.com"
         smtpPort="25"
         smtpAuthentication="Basic"
         smtpUserName=""
         smtpPassword=""
         enableSsl=""
         from=""
         to=""
         subject="[${var:Env}] ${level} Message of ${Proj} on ${machinename}"
          />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Error" writeTo="mail" >
      <filters>
        <when condition="contains('${message}','已取消一个任务')" action="Ignore"/>
        <when condition="contains('${message}','已取消该操作')" action="Ignore"/>
      </filters>
    </logger>-->
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>

