<nz-list nzItemLayout="horizontal" nzBordered>
  <nz-list-item [nzActions]="[emailConfirmEnable]">
    <ng-template #emailConfirmEnable>
      <nz-switch [(ngModel)]="i.isEmailConfirmationRequiredForLogin" nzControl="true" [nzLoading]="switchLoading"
        (click)="emailSettingSwitch()"></nz-switch>
    </ng-template>
    <nz-list-item-meta nzTitle="禁止未激活邮箱的用户登陆" nzDescription="如果开启，则用户必须先激活注册邮箱才能登陆。"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[passwordTpl]">
    <ng-template #passwordTpl>
      <a (click)="setPassword(i.passwordComplexity)">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="密码复杂度设置" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc>
        <span>
          密码长度至少 {{i.passwordComplexity.requiredLength}} 位, 包含
        </span>
        <span>
          数字
          <i *ngIf="i.passwordComplexity.requireDigit" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.passwordComplexity.requireDigit" class="anticon anticon-close-circle text-red"></i>,
        </span>
        <span>
          特殊字符
          <i *ngIf="i.passwordComplexity.requireNonAlphanumeric" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.passwordComplexity.requireNonAlphanumeric" class="anticon anticon-close-circle text-red"></i>,
        </span>
        <span>
          小写字母
          <i *ngIf="i.passwordComplexity.requireLowercase" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.passwordComplexity.requireLowercase" class="anticon anticon-close-circle text-red"></i>,
        </span>
        <span>
          大写字母
          <i *ngIf="i.passwordComplexity.requireUppercase" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.passwordComplexity.requireUppercase" class="anticon anticon-close-circle text-red"></i>
        </span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[userLockOutTpl]">
    <ng-template #userLockOutTpl>
      <a *ngIf="!i.userLockOut.isEnabled" (click)="setUserLockOut(i.userLockOut)">启用</a>
      <a *ngIf="i.userLockOut.isEnabled" (click)="setUserLockOut(i.userLockOut)">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="用户锁定" [nzDescription]="userLockOutDescTpl">
      <ng-template #userLockOutDescTpl>
        <span>用户登陆时多次输错密码后，其账户将会被锁定。</span>
        <span *ngIf="!i.userLockOut.isEnabled">
          (未启用用户锁定功能)
        </span>
        <span *ngIf="i.userLockOut.isEnabled">
          最多输错 {{i.userLockOut.maxFailedAccessAttemptsBeforeLockout}} 次,
        </span>
        <span *ngIf="i.userLockOut.isEnabled">
          每次锁定 {{i.userLockOut.defaultAccountLockoutSeconds/60}} 分钟
        </span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[twoFactorEnableTpl]">
    <ng-template #twoFactorEnableTpl>
      <a *ngIf="!i.twoFactorLogin.isEnabled" (click)="setTwoFactorLogin(i.twoFactorLogin)">启用</a>
      <a *ngIf="i.twoFactorLogin.isEnabled" (click)="setTwoFactorLogin(i.twoFactorLogin)">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="两步认证登陆" [nzDescription]="twoFactorLoginDescTpl">
      <ng-template #twoFactorLoginDescTpl>
        <span *ngIf="!i.twoFactorLogin.isEnabled">
          (未启用两步认证登陆功能)
        </span>
        <span *ngIf="i.twoFactorLogin.isEnabled">
          允许记住浏览器避免重复认证
          <i *ngIf="i.twoFactorLogin.isRememberBrowserEnabled" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.twoFactorLogin.isRememberBrowserEnabled" class="anticon anticon-close-circle text-red"></i>,
        </span>
        <span *ngIf="i.twoFactorLogin.isEnabled">
          邮件认证
          <i *ngIf="i.twoFactorLogin.isEmailProviderEnabled" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.twoFactorLogin.isEmailProviderEnabled" class="anticon anticon-close-circle text-red"></i>,
        </span>
        <span *ngIf="i.twoFactorLogin.isEnabled">
          短信认证
          <i *ngIf="i.twoFactorLogin.isSmsProviderEnabled" class="anticon anticon-check-circle text-green"></i>
          <i *ngIf="!i.twoFactorLogin.isSmsProviderEnabled" class="anticon anticon-close-circle text-red"></i>
        </span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
