<nz-list nzItemLayout="horizontal" [nzFooter]="footerTpl" nzBordered>
  <nz-list-item>
    <nz-list-item-meta nzTitle="密码复杂度设置" [nzDescription]="desc">
      <ng-template #desc>
        <div nz-row nzGutter="2" nzAlign="middle" nzJustify="center">
          <div nz-col nzSpan="2">
            <h4>长度至少</h4>
          </div>
          <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="3" [nzMax]="20" [ngStyle]="{ 'marginLeft': '16px' }" [(ngModel)]="i.passwordComplexityRequiredLength"></nz-input-number>
          </div>
          <div nz-col nzSpan="2">
            <h4>包含数字</h4>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="i.passwordComplexityRequireDigit"></nz-switch>
          </div>
          <div nz-col nzSpan="2">
            <h4>特殊字符</h4>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="i.passwordComplexityRequireNonAlphanumeric"></nz-switch>
          </div>
          <div nz-col nzSpan="2">
            <h4>小写字母</h4>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="i.passwordComplexityRequireLowercase"></nz-switch>
          </div>
          <div nz-col nzSpan="2">
            <h4>大写字母</h4>
          </div>
          <div nz-col nzSpan="2">
            <nz-switch [(ngModel)]="i.passwordComplexityRequireUppercase"></nz-switch>
          </div>
        </div>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailConfirmEnable]">
    <ng-template #emailConfirmEnable>
      <nz-switch [(ngModel)]="i.isEmailConfirmationRequiredForLogin"></nz-switch>
    </ng-template>
    <nz-list-item-meta nzTitle="禁止未激活邮箱的用户登陆" nzDescription="用户必须先激活注册邮箱才能登陆"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[userLockoutTpl]">
    <ng-template #userLockoutTpl>
      <nz-switch [(ngModel)]="i.userLockOutIsEnabled"></nz-switch>
    </ng-template>
    <nz-list-item-meta nzTitle="用户锁定" nzDescription="用户登陆时多次输错密码后，其账户将会被锁定"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item *ngIf="i.userLockOutIsEnabled" [ngStyle]="{'marginLeft': '100px'}">
    <nz-list-item-meta nzTitle="最多输错次数" [nzDescription]="failedCountTpl">
      <ng-template #failedCountTpl>
        <nz-row>
          <nz-col nzSpan="20">
            <nz-slider [nzMin]="3" [nzMax]="10" [(ngModel)]="i.userLockOutMaxFailedAccessAttemptsBeforeLockout"></nz-slider>
          </nz-col>
          <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="3" [nzMax]="10" [ngStyle]="{ 'marginLeft': '16px' }" [(ngModel)]="i.userLockOutMaxFailedAccessAttemptsBeforeLockout"></nz-input-number>
          </div>
        </nz-row>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item *ngIf="i.userLockOutIsEnabled" [ngStyle]="{'marginLeft': '100px'}">
    <nz-list-item-meta nzTitle="锁定时间（秒）" [nzDescription]="lockoutSecondsTpl">
      <ng-template #lockoutSecondsTpl>
        <nz-row>
          <nz-col nzSpan="20">
            <nz-slider [nzMin]="300" [nzMarks]="marks" [nzStep]="null" [nzMax]="1800" [(ngModel)]="i.userLockOutDefaultAccountLockoutSeconds"></nz-slider>
          </nz-col>
          <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="300" [nzMax]="1800" [ngStyle]="{ 'marginLeft': '16px' }" [(ngModel)]="i.userLockOutDefaultAccountLockoutSeconds"></nz-input-number>
          </div>
        </nz-row>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[twoFactorEnableTpl]">
    <ng-template #twoFactorEnableTpl>
      <nz-switch [(ngModel)]="i.twoFactorLoginIsEnabled"></nz-switch>
    </ng-template>
    <nz-list-item-meta nzTitle="两步验证" nzDescription="当用户正确输入用户名密码后，仍会要求第二种验证方式（邮箱、短信验证码），以确保用户身份。"></nz-list-item-meta>
  </nz-list-item>
  <nz-list-item *ngIf="i.twoFactorLoginIsEnabled" [ngStyle]="{'marginLeft': '100px'}">
    <nz-list-item-meta [nzDescription]="twoFactorLoginTpl">
      <ng-template #twoFactorLoginTpl>
        <nz-row>
          <nz-col nzSpan="4">
            邮件验证
          </nz-col>
          <nz-col nzSpan="4">
            <nz-switch [(ngModel)]="i.twoFactorLoginIsEmailProviderEnabled"></nz-switch>
          </nz-col>
          <nz-col nzSpan="4">
            短信验证
          </nz-col>
          <nz-col nzSpan="4">
            <nz-switch [(ngModel)]="i.twoFactorLoginIsSmsProviderEnabled"></nz-switch>
          </nz-col>
          <nz-col nzSpan="4">
            浏览器识别
          </nz-col>
          <nz-col nzSpan="4">
            <nz-switch [(ngModel)]="i.twoFactorLoginIsRememberBrowserEnabled"></nz-switch>
          </nz-col>
        </nz-row>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <ng-template #footerTpl>
    <div nz-row>
      <div nz-col nzSpan="12" nzOffset="12">
        <button nz-button type="submit" nzType="primary" (click)="save()" [nzLoading]="loading">保存</button>
      </div>
    </div>
  </ng-template>
</nz-list>
<footer>

</footer>
